#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	gap: 1.5em;
}

.card {
	padding: 1.5em;
	margin: 0;
	width: 220px;
	background-color: #fff;
	border: 2px solid #000;
	text-align: center;
	max-height: 450px;
}

.item-image {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	max-height: 250px;
	object-fit: cover;
}

.card h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #000000;
	margin-bottom: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card p {
	font-size: 1em;
	color: #000000;
	line-height: 1.5;
	margin-bottom: 1em;
}

.card p:last-of-type {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}

ul li {
	list-style-type: none;
	margin: 0;
}

.navbar {
	background-color: #333;
	padding: 10px;
}

header {
	padding: 10px;
}

nav a {
	padding-right: 15px;
}

nav a:last-child {
	padding-right: 0;
}
