#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	gap: 1.5em;
}

.single-card {
	.single-card h2 {
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 0.5em;
		color: #000;
		text-align: left;
	}

	.single-card p {
		display: inline-block;
		margin-right: 1.5em;
		font-size: 0.9em;
		color: #666;
		margin-bottom: 1.5em;
	}

	.single-card p:last-of-type {
		font-size: 1.2em;
		font-weight: bold;
		color: #000;
	}

	.single-card {
		padding: 1.5em;
		margin: 0;
		width: 220px;
		background-color: #fff;
		border: 2px solid #000;
		text-align: center;
		max-height: 450px;
	}

	.single-item-image {
		height: auto;
		margin: 1.5em 0;
		border-radius: 5px;
		display: block;
	}

	.single-votes {
		font-size: 1em;
		color: #333;
		font-weight: bold;
		text-align: left;
		border-top: 1px solid #ddd;
		padding-top: 1em;
	}

	.single-comments {
		font-size: 1em;
		color: #333;
		font-weight: bold;
		text-align: left;
		border-top: 1px solid #ddd;
		padding-top: 1em;
	}

	.single-author {
		font-size: 1em;
		color: #333;
		text-align: left;
		padding-top: 1em;
	}
}

.item-image {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	max-height: 250px;
	object-fit: cover;
}

.card h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #000000;
	margin-bottom: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card p {
	font-size: 1em;
	color: #000000;
	line-height: 1.5;
	margin-bottom: 1em;
}

.card p:last-of-type {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}

ul li {
	list-style-type: none;
	margin: 0;
}

.navbar {
	background-color: #333;
	padding: 10px;
}

header {
	padding: 10px;
}

nav a {
	padding-right: 15px;
}

nav a:last-child {
	padding-right: 0;
}

.comment-card {
	width: 100%;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.comment-card h2,
.comment-card p {
	margin: 5px 0;
	text-align: left;
}

.comment-body {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.comment-ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
