* {
	box-sizing: border-box;
}

#root {
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	gap: 1.5em;
	text-align: left;
}

.single-card {
	.single-card h2 {
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 0.5em;
		color: #000;
		text-align: left;
	}

	.single-card p {
		display: inline-block;
		margin-right: 1.5em;
		font-size: 0.9em;
		color: #666;
		margin-bottom: 1.5em;
		text-align: left;
	}

	.single-card p:last-of-type {
		font-size: 1.2em;
		font-weight: bold;
		color: #000;
		text-align: left;
	}

	.single-card {
		padding: 1.5em;
		margin: 0;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		border: 2px solid #000;
		text-align: center;
		max-height: 450px;
		text-align: left;
	}

	.single-item-image {
		height: auto;
		margin: 1.5em 0;
		border-radius: 5px;
		display: block;
	}

	.single-section {
		font-size: 1em;
		color: #333;
		font-weight: bold;
		text-align: left;
		border-top: 1px solid #ddd;
		padding-top: 1em;
		text-align: left;
	}

	.single-comments {
		font-size: 1em;
		color: #333;
		font-weight: bold;
		text-align: left;
		border-top: 1px solid #ddd;
		padding-top: 1em;
		text-align: left;
	}

	.single-author {
		font-size: 1em;
		color: #333;
		text-align: left;
		padding-top: 1em;
		text-align: left;
	}
}

.item-image {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
	max-height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 20px;
	width: 700px;
	padding: 20px;
	box-sizing: border-box;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.card:hover {
	transform: translateY(-10px);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
	font-size: 1.4em;
	font-weight: bold;
	color: #333;
	margin-bottom: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card p {
	font-size: 1em;
	color: #555;
	line-height: 1.5;
	margin-bottom: 1em;
	margin: 5px 0;
}

.card a {
	color: #007bff;
	text-decoration: none;
	font-weight: bold;
	margin: 10px 0;
	display: inline-block;
}

.card p:last-of-type {
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}

.card-link {
	text-decoration: none;
	color: inherit;
	display: block;
}

ul li {
	list-style-type: none;
	margin: 0;
}

.navbar {
	background-color: #333;
	padding: 10px;
}

header {
	background: linear-gradient(90deg, #e63946, #d62828);
	color: white;
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
	margin: 0;
	font-size: 2.5rem;
	letter-spacing: 1px;
	font-weight: 700;
}

header a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}

header a:hover {
	color: #f1faee;
}

nav a {
	padding-right: 15px;
}

nav a:last-child {
	padding-right: 0;
}

.comment-card {
	width: 100%;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
}

.comment-card h2,
.comment-card p {
	margin: 5px 0;
	text-align: left;
}

.comment-body {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.comment-ul {
	width: 100%;
	padding: 0;
	margin: 0;
}

.username {
	font-size: 1.2rem;
	font-weight: 600;
	color: #f1faee;
	letter-spacing: 0.5px;
}

.website-logo {
	width: 60px;
	height: 60px;
	padding: 3%;
	object-fit: contain;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.website-logo:hover {
	transform: scale(1.1);
}
.user-profile {
	display: inline-flex;
	align-items: center;
	width: 30%;
}
